.root{
    -fx-background-image:url("/Application/Image/Intersect.png");
    -fx-backgroun-repeat:no-repeat;
    -fx-background-size: 800 600;
    -fx-background-position: center center;
}
.button{
    -fx-effect: dropshadow(two-pass-box , darkgray, 10, 0.0 , 4, 5);
   -fx-background-color: rgba(205,205,205,0.7);
    -fx-background-radius: 15 15 15 15;
    -fx-background-insets: 2 2 2 2 ;
     -fx-text-fill:black;
    -fx-text-alignment:center;
}
.button:pressed{
    -fx-background-color: rgba(180,180,180,0.7);
}
.button:hover{
    -fx-background-color: rgba(235,235,235,0.7);
}
#HomeButton { 
    -fx-pref-width: 200px;
    -fx-padding: 20px;
    -fx-font:24px "Impact";
}

